:root{
    --size: 100px;
    --phone-size: 90px;
    --border-radius: 100px;
    --font-size: 3rem;
    --calculator-bg-color: rgba(0, 0, 0, 0.733);
    --calculator-width: 525px;

    --btn-color-hover: rgba(0, 0, 0, 0.335);
    --btn-color: rgba(0, 0, 0, 0.15);
    --btn-color-action: rgba(0, 0, 0, 0.466);

    --operator-color: hsla(39, 100%, 50%, 0.422);
    --operator-color-hover: hsla(39, 100%, 50%, 0.607);
    --operator-color-action: hsla(39, 100%, 50%, 0.307);
}

button{
    width: var(--size);
    height: var(--size);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    border: none;
    background-color: var(--btn-color);
    &:hover{
        background-color: var(--btn-color-hover);
    }
    &:active{
        background-color: var(--btn-color-action);
    }
}

.operator{
    background-color: var(--operator-color);
    &:hover{
        background-color: var(--operator-color-hover);
    }
    &:active{
        background-color: var(--operator-color-action);
    }
}

.space{
    width: var(--size);

    border-radius: var(--border-radius);
    font-size: var(--font-size);
    border: none;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
    padding: 25px;
}

.res{
    border-radius: 10px;
}

#calculator{
    width: var(--calculator-width);
    background-color: var(--calculator-bg-color);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    
}


#display{
    width: 100%;
    height: 100px;
    color: white;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.733) 0%, rgb(69, 69, 69) 100%);
    border: none;

}
#display:focus{
    border: none;
    outline: none;
    outline-width: 0;
}

body{
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 600px), (max-height: 730px) {
    #calculator{
        width: 100%;
        height: 100%;
    }
    .space{
        width: var(--phone-size);
    
        border-radius: var(--border-radius);
        font-size: var(--font-size);
        border: none;
    }
    
    #keys{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 20px;
    }
    button{
        width: var(--phone-size);
        height: var(--phone-size);
        border-radius: var(--border-radius);
        font-size: var(--font-size);
        border: none;
        background-color: var(--btn-color);
        &:hover{
            background-color: var(--btn-color-hover);
        }
        &:active{
            background-color: var(--btn-color-action);
        }
    }
    
    .operator{
        background-color: var(--operator-color);
        &:hover{
            background-color: var(--operator-color-hover);
        }
        &:active{
            background-color: var(--operator-color-action);
        }
    }
}






@media screen and (max-width: 413px), (max-height: 615px) {
    button{
        width: 70px;
        height: 70px;
        border-radius: var(--border-radius);
        font-size: var(--font-size);
        border: none;
        background-color: var(--btn-color);
        &:hover{
            background-color: var(--btn-color-hover);
        }
        &:active{
            background-color: var(--btn-color-action);
        }
    }
    .space{
        width: 70px;
    
        border-radius: var(--border-radius);
        font-size: var(--font-size);
        border: none;
    }
}

@media screen and (max-width: 333px), (max-height: 514px) {
    button{
        width: 60px;
        height: 60px;
        border-radius: var(--border-radius);
        font-size: var(--font-size);
        border: none;
        background-color: var(--btn-color);
        &:hover{
            background-color: var(--btn-color-hover);
        }
        &:active{
            background-color: var(--btn-color-action);
        }
    }
    .space{
        width: 60px;
    
        border-radius: var(--border-radius);
        font-size: var(--font-size);
        border: none;
    }
}


@media screen and (max-width: 293px), (max-height: 463px) {
    button{
        width: 60px;
        height: 60px;
        border-radius: var(--border-radius);
        font-size: var(--font-size);
        border: none;
        background-color: var(--btn-color);
        &:hover{
            background-color: var(--btn-color-hover);
        }
        &:active{
            background-color: var(--btn-color-action);
        }
    }
    .space{
        width: 60px;
    
        border-radius: var(--border-radius);
        font-size: var(--font-size);
        border: none;
    }
}

@media screen and (max-width: 290px), (max-height: 458px) {
    button{
        width: 50px;
        height: 50px;
        border-radius: var(--border-radius);
        font-size: var(--font-size);
        border: none;
        background-color: var(--btn-color);
        &:hover{
            background-color: var(--btn-color-hover);
        }
        &:active{
            background-color: var(--btn-color-action);
        }
    }
    .space{
        width: 50px;
    
        border-radius: var(--border-radius);
        font-size: var(--font-size);
        border: none;
    }
}